body {
    display: flex;
    justify-content: center;
}

header {
    width: 960px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 120px;
        height: 40px;
    }
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    li a{
        color: #000;
        text-decoration: none;
    }
}

#mainvisual img{
    width: 100vw;
    height: 600px;
}