:root {
    --backgroundColor: linear-gradient(to bottom right, #eff6ff 0%, #faf5ff 100%);
    --pokemonBackgroundColor: linear-gradient(to bottom right, #f3f4f6 0%, #e5e7eb 100%);
    --headFontColor: #0a0a0a;
    --fontColor: #364153;
    --grayFontColor: #4a5565;
}

body {
    background-image: var(--backgroundColor);
}

header {
    height: 80px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: var(--headFontColor);
        font-size: 30px;
    }
    p {
        color: var(--grayFontColor);
        font-size: 18px;
    }
}

.pokemonFilters {
    margin: 0 auto;
    background-color: #fff;
    width: 90vw;
    /* height: 200px; */
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
    .nameFilter {
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(30px, 1fr);
        grid-template-rows: repeat(20px, 1fr);
        gap: 8px;
        margin-bottom: 16px;
        p {
            color: var(--fontColor);
            font-size: 14px;
        }
        input {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border-radius: 8px;
            height: 36px;
            background-color: #f3f3f5;
            padding-left: 12px;
        }
    }
    .typeFilters {
        display: flex;
        flex-direction: column;
        p {
            color: var(--fontColor);
        }
        div {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }
    }
}

#pokemon {
    color: var(--grayFontColor);
    width: 90vw;
    margin: 0 auto 16px;
}

.pokemons {
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    .pokemon {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        height: 380px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        margin-bottom: 10px;
        .pokemonBackground {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f4f6;
            img {
                width: 200px;
                height: 200px;
            }
        }
        .pokemonText {
            padding: 16px;
            display: flex;
            flex-direction: column;
            .noPokemon {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 14px;
                    color: #6a7282;
                }
                div {
                    display: flex;
                    gap: 6px;
                    span {
                        /* width: 60px; */
                        height: 22px;
                        padding: 5px 14px;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        color: #fff;
                    }
                    .normal {
                        background-color: #99a1af;
                    }
                    .fire {
                        background-color: #ff6900;
                    }
                    .water {
                        background-color: #2b7fff;
                    }
                    .grass {
                        background-color: #00c950;
                    }
                    .electric {
                        background-color: #fdc700;
                    }
                    .ice {
                        background-color: #00d3f3;
                    }
                    .fighting {
                        background-color: #e7000b;
                    }
                    .poison {
                        background-color: #ad46ff;
                    }
                    .ground {
                        background-color: #9d1835;
                    }
                    .flying {
                        background-color: #7c86ff;
                    }
                    .psychic {
                        background-color: #f6339a;
                    }
                    .bug {
                        background-color: #9ec100;
                    }
                    .rock {
                        background-color: #57534d;
                    }
                    .ghost {
                        background-color: #7f22fe;
                    }
                    .dragon {
                        background-color: #432dd7;
                    }
                    .evil {
                        background-color: #364153;
                    }
                    .steel {
                        background-color: #90a1b9;
                    }
                    .fairy {
                        background-color: #fda5d5;
                    }
                }
            }
            h2 {
                font-size: 20px;
                margin-bottom: 8px;
            }
            div {
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                p {
                    color: var(--grayFontColor);
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    p {
        color: var(--fontColor);
        font-size: 14px;
    }
}
