:root {
    --backgroundColor: linear-gradient(to bottom right, #eff6ff 0%, #faf5ff 100%);
    --pokemonBackgroundColor: linear-gradient(to bottom right, #f3f4f6 0%, #e5e7eb 100%);
    --headFontColor: #0a0a0a;
    --fontColor: #364153;
    --grayFontColor: #4a5565;
}

body {
    background-image: var(--backgroundColor);
}

header {
    height: 80px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: var(--headFontColor);
        font-size: 30px;
    }
    p {
        color: var(--grayFontColor);
        font-size: 18px;
    }
}

.pokemonFilters {
    margin: 0 auto;
    background-color: #fff;
    width: 90vw;
    height: 200px;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
    .nameFilter {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
        p {
            color: var(--fontColor);
            font-size: 14px;
        }
        input {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border-radius: 8px;
            height: 36px;
            background-color: #f3f3f5;
            padding-left: 12px;
        }
    }
    .typeFilter {
        display: flex;
        flex-direction: column;
        p {
            color: var(--fontColor);
        }
        div {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }
    }
}

#pokemon {
    color: var(--grayFontColor);
    width: 90vw;
    margin: 0 auto 16px;
}

.pokemons {
    .pokemon {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        height: 400px;
        width: 300px;
        margin-left: 70px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        .pokemonBackground {
            width: 300px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f4f6;
            img {
                width: 128px;
                height: 128px;
            }
        }
        .pokemonText {
            padding: 16px;
            display: flex;
            flex-direction: column;
            .noPokemon {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 14px;
                    color: #6a7282;
                }
                div {
                    display: flex;
                    gap: 6px;
                    span {
                        width: 50px;
                        height: 22px;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        color: #fff;
                    }
                    .grass {
                        background-color: #00c950;
                    }
                    .poison {
                        background-color: #ad46ff;
                    }
                }
            }
        }
    }
}
