html {
    font-size: 62.5%;
}

:root {
    --grayText: #4a5565;
    --textColor: #0a0a0a;
    --bannerColor: #eceef2;
}

body {
    background-color: #f8f8f8;
}

header {
    height: 120px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 80vw;
    h1 {
        font-size: calc(1vw + 1.8rem);
    }
    p {
        font-size: calc(0.4vw + 0.8rem);
    }
}

.searchFilter {
    width: 80vw;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #f3f3f5;
        border-radius: 8px;
        height: 36px;
        flex-basis: 400px;
        flex-grow: 1;
        /* width: 100%; */
        padding: 7px 12px;
    }
    select {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #f3f3f5;
        border-radius: 8px;
        flex-grow: 1;
        flex-basis: 400px;
        /* width: 100%; */
        height: 36px;
        color: var(--textColor);
        padding: 7px 12px;
    }
}

.paragraph {
    margin: 0 auto;
    width: 80vw;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 12px;
    p {
        color: var(--grayText);
        font-size: 1.6rem;
    }
}

.container {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(1fr);
    gap: 24px;
    .card {
        background-color: #fff;
        height: 160px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        .eventList {
            margin: 24px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            h2 {
                font-size: 2rem;
                font-weight: normal;
            }
            p {
                background-color: var(--bannerColor);
                border-radius: 8px;
                height: 22px;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0a0a0a;
                font-size: 1.2rem;
            }
        }
        .contain {
            margin: 0 24px 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            div {
                display: flex;
                gap: 8px;
                img {
                    width: 16px;
                    height: 16px;
                }
                p {
                    color: var(--grayText);
                    font-size: 1.4rem;
                }
            }
        }
    }
}

footer {
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    p {
        color: var(--grayText);
        font-size: 1.6rem;
    }
}
